# dependencies
node_modules/

# next
web/.next/
web/out/

# expo / react native
mobile/.expo/
mobile/.expo-shared/
mobile/dist/
mobile/web-build/

# build outputs
coverage/
dist/
*.tsbuildinfo

# env
.env
.env.local
.env.development.local
.env.production.local
.env.test.local
web/.env*
mobile/.env*
!.env.example

# system
.DS_Store
Thumbs.db
